* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    background-color: rgb(206, 171, 177);
}

.container {
    display: grid;
  
    grid-template-areas:
      "header header header"
      "nav main aside";
  
    grid-template-columns: 150px 1fr 300px;
    grid-template-rows: auto 1fr;
  
    height: 100vh;
}

header {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    background-color: rgb(206, 171, 177);
}

    h1{
        margin: 0px;
    }

    .headCreate {
        height: fit-content;
    }

nav {
    display: flex;
    flex-direction: column;
    grid-area: nav;
    justify-content: space-between;
    padding: 1em;
    background-color: rgb(206, 171, 177);
}

    .navigation {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .about {
        display: flex;
        flex-direction: column;
    }

main{
    grid-area: main;
    padding: 2em;
    display: grid;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
    border-radius: 15px 0 0 0;
    background-color: rgb(181, 255, 233);
    border-top: 5px solid black;
    border-left: 5px solid black;
}

    .taskCard, .noteCard, .listCard{
        border: 1px solid black;
        border-radius: 15px;
        width: 250px;
        height: fit-content;
        padding: 10px;
    }

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: rgb(181, 255, 233);
    border-top: 5px solid black;
    border-left: 2px solid black;
}

    h2 {
        margin: 0px;
    }

    #scheduleCardDiv{
        padding: 2em;
        display: flex;
        flex-direction: column;
        padding: 1em;
        gap: 1em;
    }

    .scheduleCard {
        border: 1px solid black;
        border-radius: 15px;
        height: fit-content;
        padding: 10px;
        width: fit-content;
        width: 100%;
    }

    .scheduleCard > h4 {
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .scheduleCard > p{
        font-size: .9rem;
        margin: .5em;
    }

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 15px;
    z-index: 10;
    background-color: rgb(206, 171, 177);
    width: 500px;
    max-width: 80%;
}

    .modal input , .modal select, .modal textarea{
        background-color: rgb(197, 224, 216);
        padding: 2px;
        border-radius: 5px;
    }

    .modal.active {
        transform: translate(-50%, -50%) scale(1);

    }

    .modalHeader {
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;
        background-color: rgb(181, 255, 233);
    }

    .modalHeader .title {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .modalHeader .closeBtn {
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 1.25rem;
        font-weight: bold;
    }

    .modalBody {
        padding: 10px 15px;
    }

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: 200ms ease-in-out;
    pointer-events: none;
}

    #overlay.active {
        opacity: 1;
        pointer-events: all;
    }

button, #todoForm > .modalBtn {
    border-radius: 10px;
    background-color: rgb(197, 224, 216);
}

.headCreate{
    padding: 10px;
}

.card {
    background-color: rgb(201, 201, 201);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}